body {
    min-height: 200px;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #a2d9ff;
    padding-bottom: 2rem;
}

* {
    font-family: "Cabin", sans-serif;
    font-size: large;
}

.card {
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card:hover:before {
    opacity: 1;
}

.btn {
    display: block;
    margin: auto;
}